.shopping-cart .product{
  display: inline-block;
}



.product-name-heading{
  font-weight: bold;
  font-size: 21px;
}



.home-link{
  float: right;
  color: #527AC2;
  font-weight: bold;
}



.top-section {
  margin-bottom: 15px;
}

.photos-section {
  width: 62%;
  margin-right: 3%;
  float: left;
}

.right-section {
  width: 35%;
  float: right;
}

.sku {
  color: #555;
  margin-bottom: 15px;
}





.shopping-cart .single-product .product-price {

  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  font-size: 30px;
  font-weight: bold;

}

.next-product-image {
  max-height: 140px;
  max-width: 140px;
  margin-top: 15px;
  margin-right: 15px;
}

.product-page-links:hover{
  cursor: pointer;
}

.products {
  margin-bottom: 5px;
  width: 100%;
}

.single-item-quantity {
  display: none;
}

.hidden-thumbnail {
  display: none;
}

.shopping-cart .circle_plus {
  padding-left: 12px;
  margin-left: 6px;
  top: -50%;
}


.single-product {

  

}


.shopping-cart .large {
  display: none;
  width: 175px;
  height: 175px;
  position: absolute;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  /* box shadows to achieve the glass effect */
  -webkit-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 0 7px rgba(255, 255, 255, 0.85), 0 0 7px 7px rgba(0, 0, 0, 0.25), inset 0 0 40px 2px rgba(0, 0, 0, 0.25)
}

/* To solve overlap bug at the edges during magnification */
.shopping-cart .thumb {
  display: block;
}







/*  ==========================================
    General Styling
    ========================================== */

/*  ------------------------------------------
    Basic Styles
    ------------------------------------------ */

.shopping-cart {

  position:relative;

  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;

}

.shopping-cart br {
  display:none;
}


  /* -- Clearfix -- */

.shopping-cart:after,
.shopping-cart .shopping-cart-header:after,
.shopping-cart .products:after,
.shopping-cart .shopping-cart-footer:after {

  content: "";
  display: table;
  clear: both;

}



.shopping-cart .cart-button {

  display: inline-block;
  position:relative;
  box-sizing: border-box;
  height: 45px;
  padding: 14px 50px 14px 20px;

  color: #333;
  background: #fff;

  font-weight: bold;
  font-size: 16px;
  text-align: left;
  
  border-radius: 4px;
  
  transition: .3s all;

}

.shopping-cart .cart-button .glyphicon {

  position: absolute;
  right: 25px;
  top: 10px;
  bottom: 0;

}

/*  ------------------------------------------
    Category View
    ------------------------------------------ */




.shopping-cart .product-image-div,
.shopping-cart .product-name,
.shopping-cart .product-price {
  margin-bottom: 10px;
}


.shopping-cart-header {
  height: 40px;
}

.shopping-cart-header span.category-name {
  display:inline-block;
  margin-top: 10px;
}

.shopping-cart-header span.category-select {
  display: inline-block; 
  float:right;
  font-size: 16px; 
  font-weight: bold;
  height: 40px;
  margin-top: 10px;
}

.shopping-cart-header span.category-select label {
  margin-right: 10px;
  /*line-height: 40px;*/
}

.shopping-cart-header span.category-select select.shopping-cart-categories { 

  /*position:absolute;
  right:0;  */
  display:inline-block;
  /*padding: 10px;*/
  /*height: 40px;*/
  min-width: 180px;

  /*font-size: 14px;*/

  /*background: #fff;*/

}

.shopping-cart-header .category-name  {
  font-weight: bold;
  font-size: 21px;
}

.shopping-cart-header .category-select{
  position:absolute;
  right:0;
}






.shopping-cart .products .product {
  display: inline-block;
}



.shopping-cart .products .product-image{

  display: inline-block;
  max-height: 100%;
  max-width: 100%;

  position:absolute;

  left:0;
  right:0;
  top:0;
  bottom:0;

  margin: auto;

}



.shopping-cart .products .product-image-div {
  width: 100%;
  min-height: 200px;
  position:relative;
  overflow:hidden;
}

.shopping-cart .products .product-page-links {
  margin-bottom: 20px;
}

.shopping-cart .products .product-page-links:hover {
  
}

.shopping-cart .product-short-description {
  margin-bottom: 15px;
}

.shopping-cart .product-name {

  font-size: 16px;
  font-weight: bold;

}

.shopping-cart .product-price {

  display:block;

  overflow: hidden;

  font-size: 22px;
  font-weight: bold;

}


.shopping-cart .shopping-cart-footer {
  margin: 20px 0;
}

.shopping-cart .shopping-cart-footer .pages {
  display: inline-block;
  padding: 10px;
  height: 20px;

  font-weight: bold;
}

.shopping-cart .shopping-cart-footer .page-link {
  display: inline-block;
  padding: 10px;
  width:20px;
  height: 20px;

  text-align: center;
  text-decoration: none;
  color: #fff;
  font-weight: normal;
}

.shopping-cart .shopping-cart-footer .page-link:hover {
  background: rgba(255,255,255,.05);
}

.shopping-cart .shopping-cart-footer .current-page-link {
  
}

.shopping-cart .shopping-cart-footer .page-link{
  text-decoration: none;
  color: #868686;
}

.shopping-cart .shopping-cart-footer .current-page-link{
  background: rgba(255,255,255,.05);
  cursor: default;
}








/*  ------------------------------------------
    Product Page
    ------------------------------------------ */

.shopping-cart .single-product .product-page-links:hover {
  cursor: pointer;
}

.shopping-cart .single-product .top-section {
  margin-bottom: 15px;
  height: 40px;
}

.shopping-cart .single-product .top-section .product-name-heading {
  display:inline-block; 
  height: 40px;
  line-height: 40px;
} 

.shopping-cart .single-product .top-section .product-price {
  padding: 20px 0;
  margin-top: 20px;
  border-top: 1px solid #555;
  border-bottom: 1px solid #555;
  font-size: 30px;
}

.shopping-cart .single-product .top-section .home-link {

  display: inline-block;
  float: right;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  font-weight: bold;

  border-radius: 4px;
  color: #2c75d0;
  font-size: 16px;

  transition: .2s all;

}

.shopping-cart .single-product .quantity-input {
  transition: .2s all;
}

.shopping-cart .single-product .top-section .home-link:hover {
  color: #fff;
  background: #2c75d0;
}




.shopping-cart .single-product .add-section {
  margin-top: 5px;
}

.shopping-cart .single-product .right-section {
  width: 35%;
  float: right;
}

.shopping-cart .single-product .right-section .sku {
  color: #555;
  font-size: 16px;
  margin-bottom: 15px;
}

.shopping-cart .single-product .right-section .quantity-input {
  float: left;
  padding: 5px;
  background: none;
  width: 45px;
  border-radius: 3px;
  margin-right: 9px;
  border: 1px solid rgb(133, 133, 133);
  height: 33px;
  width: 50px;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;

  transition: all .3s;
}

.single-product .single-product .right-section .product-price {
  font-size: 30px;
  font-weight: bold;
  padding: 8px;
  margin-top: 20px;
  padding: 20px 0 !important;
  border-top: 1px solid #515151;
  border-bottom: 1px solid #515151;
}









.shopping-cart .single-product .right-section .cart-button:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}

.shopping-cart .single-product .top-section .home-arrow-link.glyphicons.circle_arrow_left:before {
  font-size: 34px;
}

.shopping-cart .single-product .top-section .home-arrow-link {
  vertical-align: inherit;
}

.shopping-cart .single-product .right-section .quantity-text {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 10px !important;
}


/* --- Photos --- */

.shopping-cart .single-product .photos-section .main-photo {

  margin-bottom: 5px;
  border-radius: 2px;
  overflow:hidden;

}

.shopping-cart .single-product .photos-section .first-product-image {
  max-height: 400px;
  max-width: 100%;
}

.shopping-cart .single-product .photos-section .small-photos {
  padding-right: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}


.shopping-cart .single-product .photos-section .next-product-image {
  max-height: 140px;
  margin-top: 15px;
  margin-right: 5px;
  max-width: 22%;
}

.shopping-cart .single-product .photos-section .single-item-quantity {
  display: none;
}


.shopping-cart .single-product .small-photos .small-photo {

  display: inline-block;
  float:left;
  width: 24%;
  height: 130px;
  margin-right: 1%;
  margin-bottom: 10px;
  
  float:left;
  position:relative;
  overflow:hidden;
  background: #fff;
  cursor: pointer;
  border-radius: 2px;

  opacity: .75;
  transition: .5s all;

}

.shopping-cart .single-product .small-photos .small-photo:hover {
  opacity: 1;
}

.shopping-cart .single-product .small-photos .small-photo:last-child {
  margin-right: 0;
}

.shopping-cart .single-product .small-photos .small-photo img {

  display:inline-block;
  max-width: 100%;
  max-height: 100%;

  min-width: 50%;
  min-height: 50%;

  position:absolute;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

.shopping-cart .single-product .hidden-thumbnail {
  display: none;
}

























/*
.shopping-cart .single-product .main-photo {
  width: 100%;
  min-height: 400px;
  max-height: 400px;
  position:relative;
  margin-bottom: 10px;
  border-radius: 4px;
  overflow: hidden;
  background: #fff;
}

.shopping-cart .single-product .main-photo img {
  display:inline-block;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  top:0;
  position: absolute;
  max-height: 100%;
  max-width: 100%;

  margin: auto;
}

*/


/*  ==========================================
    Themes
    ========================================== */




/*  ------------------------------------------
    Light Theme
    ------------------------------------------ */

.shopping-cart .light-theme .cart-button {

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #e6e6e6 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e6e6e6)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#e6e6e6 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#e6e6e6 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e6e6e6',GradientType=0 ); /* IE6-9 */

}

.shopping-cart .light-theme .cart-button:hover {

  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(top,  #ffffff 0%, #d8d8d8 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#d8d8d8)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #ffffff 0%,#d8d8d8 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #ffffff 0%,#d8d8d8 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d8d8d8',GradientType=0 ); /* IE6-9 */

}


.light-theme .quantity-input{
  color: black;
}

.light-theme .quantity-text {
  color: black;
}

.light-theme .long-description {
  color: black;
}


/*  ------------------------------------------
    Dark Theme
    ------------------------------------------ */

.shopping-cart .dark-theme .product-product-name {
  color: #fff;
}

.shopping-cart .dark-theme .product-short-description {
  color: #808080;
}

.shopping-cart .dark-theme .product-product-price {
  color: #fff;
}

.shopping-cart .dark-theme .cart-button {

  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #191919 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#191919)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#191919 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#191919 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#191919 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#191919',GradientType=0 ); /* IE6-9 */

  color: #fff;

  box-shadow: 0 0 5px rgba(0,0,0,.5);

}

.shopping-cart .dark-theme .cart-button:hover {

  background: #444444; /* Old browsers */
  background: -moz-linear-gradient(top,  #444444 0%, #191919 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(100%,#191919)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #444444 0%,#191919 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #444444 0%,#191919 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #444444 0%,#191919 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #444444 0%,#191919 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#191919',GradientType=0 ); /* IE6-9 */

}

.dark-theme .quantity-input{
  color: white;
}

.dark-theme .long-description {
  color: #C5C5C5;
}

.dark-theme .quantity-text{
  color: white;
}

.shopping-cart .dark-theme .single-product .product-price {
  color: #dc883d;
}

.shopping-cart .dark-theme .single-product .quantity-text {
  color: #fff;  
}

.shopping-cart .dark-theme .single-product .quantity-input {
  background: #262626;
  border-color: #333333;
}
.shopping-cart .dark-theme .single-product .quantity-input:hover {
  background: #262626;
  border-color: #444;
}









/*  ==========================================
    Media Queries
    ========================================== */

@media screen and (max-width: 768px) {

  .shopping-cart .product {
    width: 100%;
    margin-bottom: 50px !important;
  }

  .shopping-cart .shopping-cart-header .category-name { 

    width: 100%;
    float:none;
    display:none;

  }

  .shopping-cart .shopping-cart-header .category-select { 
    display:block;
    width: 100%;
    float: none;
  }

  .shopping-cart .single-product a.home-link,  
  .shopping-cart .single-product .sku {
    display:none !important;
  }

  .shopping-cart .shopping-cart-header .category-select label { 
    width: 100%;
    display:none;
  }

  .shopping-cart .shopping-cart-header .category-select option { 
    padding: 10px
  }

  .shopping-cart .product .cart-button {
    width: 100%;
  }

  .shopping-cart .product-name-heading{
    display: block;
  }

  .shopping-cart .single-product .photos-section {
    clear: both;
  }

  .shopping-cart .single-product .photos-section:after {
    content: "";
    display: table;
    clear: both;
  }

  .shopping-cart .single-product .main-photo {
    width: 100%;
  }

  .shopping-cart .single-product .small-photos .small-photo {
    width: 23% !important;
    margin-right:2%;
    height: 80px;
  }

  .shopping-cart .single-product .photos-section{
    width: 100%;
  }

  .shopping-cart .single-product .first-product-image {
    max-height: 250px;
  }

  .shopping-cart .single-product .right-section {
    width: 100%;
    float: none;
  }

  .shopping-cart .single-product .home-link {
    display:none;
  }

  .shopping-cart .single-product .product-name-heading {
    float: right;
  }

}



@media screen and (min-width: 768px) {

  .shopping-cart .product {

    width: 45%;
    padding-right: 3%;
    margin-top: 50px;

  }

  .single-home-arrow-link {
    display:none;
  }

  

}





@media screen and (min-width: 995px) {

  .shopping-cart .product {

    width: 23%;
    padding-right: 1%;

  }

  .shopping-cart .single-product .main-photo {
    min-height: 450px;
    background: #fff;
  }


  .shopping-cart .single-product .main-photo img {

    display:block;
    margin: auto;

  }  



}