.shopping-cart {
  width: 950px;
  padding-left: 10px;
  padding-right: 10px;
}

.shopping-cart .product{
  width: 227.5px;
  height: 50%;
}

.shopping-cart .product-image{
  max-width: 187px;
  max-height: 187px;
  padding: 20px;
  display: block;
}

.shopping-cart .product-name{
  font-weight: bold;
}

.shopping-cart .product-name.dark-theme{
  color:white;
}

.shopping-cart .product-short-description{
  color: rgb(133, 133, 133);
}

.shopping-cart .product-price{
  color: rgb(213, 146, 5);
  font-size: large;
}

.shopping-cart .product-price.dark-theme{
  color: white;
  font-size: large;
}

.shopping-cart .product-addtocart-button{
}

.shopping-cart .page-link{
  text-decoration: none;
  color: #868686;
}

.shopping-cart .current-page-link{
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.shopping-cart .current-page-link.dark-theme{
  text-decoration: underline;
  font-weight: bold;
  color: white;
}

.pages.dark-theme{
  color: white;
}

.shopping-cart .pages{
  font-weight: bold;
}

.cart-button-animate
{
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.cart-button
{
  padding: 5px 20px;
  float: left;
  border-radius: 5px;
  font-size: 17px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.cart-button.dark-theme
{
  background-color: #333333;
  border-bottom: 5px solid #000000;
  text-shadow: 0px -2px #000000;
  color: #FFF;
}

.cart-button.light-theme
{
  background-color: #FFFFFF;
  border: rgb(133, 133, 133) 2px;
  border-style: solid;
  border-bottom: 5px solid rgb(133, 133, 133);
  text-shadow: 0px -2px #F5F5F5;
  color: black;
}

.cart-button:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
}

.cart-button.light-theme:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid #F5F5F5;
}
.cart-button.dark-theme:active
{
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid #000000;
}

.category-name{
  font-weight: bold;
  font-size: 21px;
}

.category-select{
  float: right;
}

.product-name-heading{
  font-weight: bold;
  font-size: 21px;
}

.product-name-heading.dark-theme{
  color:white;
}

.home-link{
  float: right;
  color: #527AC2;
  font-weight: bold;
}

.category-name.dark-theme{
  color: white;
}

.category-select.dark-theme{
  color: white;
}

.category-select select {
  margin-left: 12px;
  padding:7px;
  width:auto;
  font-family:arial,tahoma;
  font-size:16px;
  text-align:center;
  text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:3px;
  -webkit-border-radius:3px;
  -webkit-appearance: none;
  border:0;
  outline:0;
  -webkit-transition:0.3s ease all;
     -moz-transition:0.3s ease all;
      -ms-transition:0.3s ease all;
       -o-transition:0.3s ease all;
          transition:0.3s ease all;
  width: 180;
  background:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50px' height='50px'><polyline style='fill:rgb(133, 133, 133);' points='46.139,-6.482 25.166,17.49 4.193,-4.481'/></svg>");
  background-repeat:no-repeat;
  background-position: right 10px top 15px;
  background-size: 16px 16px;
  color: rgb(133, 133, 133);
  background-color:white;
  border: rgb(133, 133, 133) 2px;
  border-style: solid;
}

.top-section {
  margin-bottom: 15px;
}

.photos-section {
  width: 65%;
  float: left;
}

.right-section {
  width: 35%;
  float: right;
}

.sku {
  color: #555;
  margin-bottom: 15px;
}

.long-description.dark-theme {
  color: #C5C5C5;
}

.long-description.light-theme {
  color: black;
}

.quantity-text.dark-theme {
  color: white;
}

.quantity-text.light-theme {
  color: black;
}

.add-section {
  margin-top: 5px;
}

.quantity-input {
  float: left;
  padding: 5px;
  background: none;
  width: 39px;
  border-radius: 3px;
  margin-right: 9px;
  border: 1px solid rgb(133, 133, 133);
}

.quantity-input.light-theme{
  color: black;
}

.quantity-input.dark-theme{
  color: white;
}

.right-section .product-price{
  font-size: 30px;
  font-weight: bold;
}

.first-product-image {
  max-height: 400px;
}
.next-product-image {
  max-height: 140px;
  max-width: 140px;
  margin-top: 15px;
  margin-right: 15px;
}

.product-page-links:hover{
  outline: rgb(201, 201, 1) solid 2px;
  cursor: pointer;
}

.products {
  margin-bottom: 5px;
}

.single-item-quantity {
  visibility: hidden;
  position: absolute;
}