<div class="product">
  <span class="item_name">{{ProductName}}</span>
  <img src={{first Images.Image}} alt="Sample Product" class="item_thumb" thumb="images/fashionimages/product-image-1.jpg">
  <input type="text" value="1" class="item_Quantity"><br>
  <span class="item_price">{{ProductPrice}}</span><br>
  <a class="item_add build-addtocart-button"> Add to Cart </a>
  <div class="build-cart-animation" style="display:none">1</div>
</div>